# ignore log files and databases
*.log

.vscode
.idea

lang/wp-pagopa-gateway-cineca-it_IT-backup*
lang/wp-pagopa-gateway-cineca-backup-*

# Empty folder for the certificates
cert/*
# exception to the rule
!cert/.gitkeep 
!cert/.htaccess 
!cert/README.txt 